.Weather {
  color: blue;
  border: 1px solid blue;
}

.Weather h1 {
  text-align: right;
}

.Weather ul {
  text-align: left;
  color: green;
  padding-inline-start: 0px;
}

form {
  margin-top: 10px;
}

.input-city {
  border: 3px solid magenta;
}

.search-city {
  background: magenta;
  color: white;
  border: 2px solid magenta;
  margin-left: 25px;
}

.city-col {
  border: 1px dotted magenta;
  margin: 10px;
  display: block;
}

.des-col {
  border: 1px dotted blueviolet;
  margin: 10px;
}

.Weather img {
  margin-left: 200px;
  margin-right: 10px;
}

.Weather .temperature {
  font-size: 60px;
  line-height: 60px;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  line-height: 1;
  top: -30px;
}
